@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    font-family: "Comfortaa";
}
html, body {
    margin: 0;
    height: 100%;
}

#page-background {
  background: #C4C4C4; 
  width: 100%; 
  /* height: 100%;    */
}

#main-section {
  background: #FADAD1; 
  position: absolute;
  width: 85%;
  min-height: 100%;
  top: 0;
  left: 15%; 
}

#card-collection {
  margin: 2rem;
  display: inline-block;
}

#left-sidebar {
  background: #FDF0ED;
  position: absolute; 
  width: 15%;
  height: 75%;
  left: 0;
  top: 25%; 
}

#corner-logo {
  background: #F9CBBE; 
  position: absolute;
  width: 15%;
  height: 25%;
  left: 0;
  top: 0;
  
  background-image: url(https://image.flaticon.com/icons/png/512/110/110495.png);
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px; 

  position: absolute;
  width: 80%;
  left: 10%;
  top: 25%;

  background: #F9CBBE;
  border: 1px solid #b4a0a4;
  box-sizing: border-box;
  border-radius: 16px; 
}

.user-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;

  position: static;
  width: 80%;
  left: 10%;
  top: 0px;

  background: #FADAD1;
  border: 1px solid #AEAEAE;
  box-sizing: border-box;
  border-radius: 8px;
}

.submit-button {
  position: relative;
  background-color: #FDF0ED;
  border-radius: 5px;
  border: 1px solid #AEAEAE;
  width: max-content;
  color: #AEAEAE;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit-button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}


.exercise-card {
  display: inline-grid;
  flex-direction: column;
  margin: 15px;  
  align-items: flex-start;
  padding: 12.0471px;
  position: static;
  width: 230px;
  height: 350px; 
  background: #FDF0ED;
  box-shadow: 0px 2.00784px 8.03137px rgba(0, 0, 0, 0.16);
  border-radius: 8.03137px;
}

.image-container {
  position: relative;
  width: 230px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exercise-image {
  position: absolute;
  max-width: 100%; 
  max-height: 100%; 
  background: url(.png);
  border-radius: 4.01569px;
  flex: none; 
  order: 0;
  align-self: stretch;  
  flex-grow: 1;
  flex-shrink: 0;
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 100%;
  height: 30%;
  left: 12.05px;
  top: 114.84px; 
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 8.03137px 0px;
}

.card-title {
  position: static;
  width: 205.91px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
  color: #DA103F;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4.01569px 0px;
}

.card-description {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; 
  max-height: 100px; 
  left: 0px;
  top: 17.02px;
  font-style: normal;
  font-weight: normal;
  font-size: 8px; 
  line-height: 12px;
  color: #1A1A1A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4.01569px 0px;
}
.card-description:hover {
  overflow: visible;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 8.03137px 0px 0px;
  position: relative;
  width: 100%;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 8.03137px 0px;
}

.card-button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4.01569px 8.03137px;
position: static;
width: 66.13px;
left: calc(50% - 66.13px/2);
top: 0%;
bottom: 0%;
background: #F9CBBE;
border-radius: 4.01569px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}
