@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    font-family: "Comfortaa";
}
body {
    margin: 0
}

#corner-logo {
  display: flex;
  justify-content: center;
  background: #ffffff;
  background-image: url(https://image.flaticon.com/icons/png/512/110/110495.png);
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
  opacity: .8;
  width: 100vw;
  height: 25vh;
  float: top;
  padding: 0; 
}



#left-container {
  display: flex;
  justify-content: center;
  background: #515DA2;
  opacity: .8;
  width: 25%;
  height: 100vh;
  float: left;
  padding: 0;
}

#right-container {
  display: flex;
  justify-content: center;
  background: #64a251;
  opacity: .8;
  width: 75%;
  float: right; 
  height: 100vh;
  padding: 0; 
}